<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Physical Game Jams</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable-base.min.css" rel="stylesheet" />

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.js"></script>

    <div class="container">
        <div class="row text-center pb-4">
            <h1 class="display-5">{% block title %}{% endblock %}</h1>
        </div>
        
        <div class="row pb-4">
            <p>
            This listing includes all itch.io jams which explicitly
            accept physical games, including board games, card games,
            and roleplaying games. It is updated daily. Entries are
            sorted by end date by default, but you can click on any
            column header to sort by that column. If you see errors,
            please <a href="mailto:durrell@innocence.com">email me</a>.
            </p>
        </div>

{% block jam_table_head %}{% endblock %}

        <div class="row">
            <table class="table table-striped sortable asc">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th id="end-date">End Date</th>
                        <th>Host(s)</th>
                        <th>Hashtag</th>
                    </tr>
                </thead>
                <tbody>
                {%- for jam in jams %}
                    <tr>
                        <td><a href="{{ jam.url() }}">{{ jam.name }}</a></td>
                        <td data-sort="{{ jam.start.strftime("%Y%m%d%H%M") }}">
                            {{ jam.start.strftime("%B %d, %Y at %I:%M %p") }}
                        </td>
                        <td data-sort="{{ jam.end().strftime("%Y%m%d%H%M") }}">
                            {{ jam.end().strftime("%B %d, %Y at %I:%M %p") }}
                        </td>
                        <td>{%- for owner in jam.owners -%}
                            <a href="https://{{ owner }}.itch.io/">{{ jam.owners[owner] }}</a>
                            {{- ", " if not loop.last else "" -}}
                            {%- endfor -%}</td>
                        <td>{%- if jam.hashtag -%}
                                <a href="https://twitter.com/hashtag/{{ jam.hashtag[1:] }}">{{ jam.hashtag }}</a>
                            {%- else -%}
                                &nbsp;
                            {%- endif -%}</td>
                    </tr>
                {%- endfor %}
                </tbody>
            </table>
        </div>

{% block jam_table_foot %}{% endblock %}
  
        <div class="row pb-4">
            <p>
            Last updated: {{ date.strftime('%B %d, %Y') }}.
            </p>

            <p>
            This list is semi-automatically generated by a bunch of Python code. The 
            code repo is <a href="https://github.com/BryantD/itch-rpg-jams">here</a>. 
            </p>
            
            <p>
            Much thanks to <a href="https://emmyverte.com">Emmy Verte</a>, who inspired
            this project and who gave me gracious permission to pick up the torch.
            </p>
        </div>

    </div>

    <script>
      window.addEventListener('load', function () {
        const el = document.getElementById('end-date')
        if (el) {
          el.click()
        }
      })
    </script>

</body>
</html>
