{% extends "base.html.jinja" %}
{% block title %}Physical Game Jams{% endblock %}
{% block jam_table_head %}
        <div class="row" role="navigation">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#">Active</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="index-finished.html">Finished</a>
                </li>
                <li class="nav-item">
            </ul>
        </div>
{% endblock %}

{% block jam_table_foot %}
{% endblock %}
