{% extends "base.html.jinja" %}
{% block title %}Physical Game Jams{% endblock %}
{% block jamtable %}
        <div class="row" role="navigation">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#">Active</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Finished</a>
                </li>
                <li class="nav-item">
            </ul>
        </div>
        <div class="row">
            <table class="table table-striped sortable asc">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th id="end-date">End Date</th>
                        <th>Host(s)</th>
                        <th>Hashtag</th>
                    </tr>
                </thead>
                <tbody>
                {%- for jam in jams %}
                    <tr>
                        <td><a href="{{ jam.url() }}">{{ jam.name }}</a></td>
                        <td data-sort="{{ jam.start.strftime("%Y%m%d%H%M") }}">
                            {{ jam.start.strftime("%B %d, %Y at %I:%M %p") }}
                        </td>
                        <td data-sort="{{ jam.end().strftime("%Y%m%d%H%M") }}">
                            {{ jam.end().strftime("%B %d, %Y at %I:%M %p") }}
                        </td>
                        <td>{%- for owner in jam.owners -%}
                            <a href="https://{{ owner }}.itch.io/">{{ jam.owners[owner] }}</a>
                            {{- ", " if not loop.last else "" -}}
                            {%- endfor -%}</td>
                        <td>{%- if jam.hashtag -%}
                                <a href="https://twitter.com/hashtag/{{ jam.hashtag[1:] }}">{{ jam.hashtag }}</a>
                            {%- else -%}
                                &nbsp;
                            {%- endif -%}</td>
                    </tr>
                {%- endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
